<header id="page-header">
  <h2>Find your new <del>pet</del> puppy today!</h2>
</header>

<main>
  <section id="home-quote">
    <blockquote>
      Doggo ipsum big ol pupper wrinkler what a nice floof long bois vvv doggorino, wow such tempt shoober woofer heck. Borking doggo boofers porgo aqua doggo, doggorino. Much ruin diet waggy wags tungg long woofer snoot, puggorino very good spot. Shooberino big ol clouds heckin pats doggorino big ol pupper stop it fren, blop shooberino extremely cuuuuuute h*ck very good spot. tungg aqua doggo ruff. Big ol pupper corgo sub woofer big ol, ur givin me a spook tungg. Thicc borkf shibe you are doing me the shock fat boi blop much ruin diet borking doggo, mlem big ol heckin angery woofer adorable doggo shibe blep.</blockquote>
    <cite>
      - <%= link_to "Doggo Ipsum", "https://doggoipsum.com/" %>
    </cite>
  </section>
  <section>
    <%= image_tag "https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg", alt: "two cute doggos" %>
  </section>
</main>
